* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./Trial_aktivgrotesk/TrialVariableFonts/AktivGroteskVF_Trial_Wght.ttf') format('opentype');
}

body {
  font-family: 'MyCustomFont';
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.flex-container a {
  text-decoration: none;
  color: #000;
}

.box {
  height: 70px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.flex-container .flex-box .box h1 {
  margin-top: 140px;
  font-size: 20px;
}
.flex-container .flex-box .box p {
  margin-top: 10px;
}

.flex-container .flex-box .box img {
  width: 100px;
  margin-top: 30px;
}


.flex-box {
  width: 189px;
  height: 377px;
  text-align: center;
  margin: 15px;
  cursor: pointer;
}



.flex-container .flex-box:hover .box{
  background-color: white;
  color:  #FFDA2B;
  transition: 0.5s ease;
}

.overly {
  width: 189px;
  height: 377px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(128, 128, 128, 0.39);
  color: #000;
  opacity: 1;
  transition: 0.5s ease;
  visibility: visible;
  
}

.flex-box:hover .overly {
  visibility: hidden;
  opacity: 0;
  height: 0;
}






.box {
  position: relative;
}

.flex-container .flex-box .box img:first-child {
  display: block;
  position: absolute;
  top: 0;
  left: 37px;
}

.hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 37px;
}

.flex-container .flex-box:hover .hover-image {
  display: block;
}

.flex-container .flex-box:hover img:first-child {
  display: none;
}


